# Ignore the build directory (all object files go here)
build/

# Ignore the final executable
kernel_leak_detector

# Ignore any stray object files (outside build/)
*.o

# Ignore this binary
./test/stress_shm
